#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(3, 3, 3);
}

.logoNome {
  display: flex;
}

.logo {
  transition: all 0.5s;
}

.logo:hover {
  -webkit-filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, 0.5));
  -webkit-transform: rotateZ(-360deg) scale(1.5);
  transform: rotateZ(-360deg) scale(1.5);
}

.plyr__video {
  width: 100vw;
  box-shadow: 10px 10px 11px -3px rgba(217, 181, 102, 0.57);
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  width: 20vw;
  background-color: #1b1b1b;
  border-radius: 16px;
  margin: 18px;
  color: #d9b566;
  font-weight: bold;
  box-shadow: 10px 10px 11px -3px rgba(217, 181, 102, 0.57);
}

.item-wrapper:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.img-wrapper {
  width: 100%;
  height: 56%;
  border-radius: 16px 16px 0 0;
}

.filter-wrapper {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-bottom: 3px solid #d9b566;
  box-shadow: 10px 10px 11px -3px rgba(217, 181, 102, 0.57);
  background-color: #030303;
  color: #d9b566;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.buton {
  width: 90px;
  background-color: #ebbc55;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 17px;
}

.buton:hover {
  background-color: #e6e6e6;
}

.buton:active {
  background-color: #e6e6e6 ;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.conjuntoBusca {
  display: flex;
}

.inputBusca {
  float: right;
  padding: 6px;
  border: 1px solid #434343;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 17px;
  background-color: #030303;
  color: #e6e6e6;
}

.footer {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-top: 3px solid #d9b566;
  background-color: #1b1b1b;
  color: #d9b566;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
